@import url(carrusel.css);
*{margin: 0;
padding: 0;}

body{
    background-color:#A0691F;
}
.contenedor .head{
    height: 100px;
    width: 100px;
}
.icono{
        position: relative;
        left: auto;
        top: -80px;
        height: 240px;
        width: 240px;
}
.head{
    display: flex;
    justify-content: center;
    border-top: 22px solid red;
    border-bottom: 22px solid red;
    /*position: fixed;*/
    background-color:#DCA002;
    /*position: absolute;*/
    width: 100%;
    height: auto;
}
.head .icon{
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.head .nav{
    padding-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    float:right;
    position: static;
    width:auto;
    height:auto;
    
}

.nav a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    
}

  .izquierda {
    position: absolute;
    margin-top: -290px;
    margin-left: 52px;
    border-left: 22px solid red;
    border-right: 22px solid red;
    background-color: #DCA002;
    height: 107.5%;
    width: 100px;
    border-top: 22px solid red;

}
.footer{
    position: absolute;
}
.buscador{
    position:absolute;
    margin-left: 200px;
    background-color: red;
    width: 40%;
    height: 30px;
    padding: 10px;
}
.buscar{
    margin-top: 10px;
    width: 80%;
}
.boton-index{
    position:absolute;
    border: 1px solid red;
}